<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PortX.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <PortX.Properties.Settings>
            <setting name="BaudRate" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SelectedParity" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="SelectedDataBits" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SelectedStopBits" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value />
            </setting>
        </PortX.Properties.Settings>
    </userSettings>
</configuration>
